.live-game-title {
  display: flex;
  justify-content: center;
}

.live-game__vs {
  margin: 0px 20px;
}

.live-game-solution {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

.solution-letter {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  min-width: 40px;
  margin: 0px 5px;
  background-color: silver;
  font-size: 24px;
  font-family: 'Oswald', 'Arial Narrow', sans-serif;
}

.live-game-guess {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.live-game-tries {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.live-game-misses {
  display: flex;
  justify-content: center;
  align-items: center;
}

.misses-letter {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  min-width: 40px;
  margin: 0px 5px;
  border-bottom: 2px silver solid;
  color: red;
  font-size: 24px;
  font-family: 'Oswald', 'Arial Narrow', sans-serif;
}

.chances-remaining {
  margin: 0px 7px;
}

.submit-guess__btn {
  margin-left: 15px;
}
